<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="AzureDevOpsFeed" value="https://pkgs.dev.azure.com/mohsen020/DotNetBuildingBlock/_packaging/DotNetBuildingBlock/nuget/v3/index.json" />
		<add key="LocalPackages" value="./bin/release" />
	</packageSources>
	<packageSourceCredentials>
		<AzureDevOpsFeed>
			<add key="Username" value="az" />
			<add key="ClearTextPassword" value="8CZfSu2ZbQ8Q49woK1seLZNA38M0L0SFSRJU5m1Y8oaNT6iEBOwQJQQJ99CAACAAAAAAAAAAAAASAZDO2Ffi" />
		</AzureDevOpsFeed>
	</packageSourceCredentials>
</configuration>